@page "/"
@inject ITicket _ticketService

<div class="bg-gray-100 p-8">
    <h1 class="text-3xl font-bold mb-6">Task overview</h1>
    <div>
        <h2 class="text-2xl">Today</h2>
        <div class="whitespace-nowrap overflow-x-auto my-5">
            @foreach (var ticket in TodayTickets)
            {
                <a href="@ticket.TicketUrl">
                    <UserTicket Ticket="@ticket"/>
                </a>
            }
        </div>
    </div>
    <div>
        <h2 class="text-2xl">Overdue</h2>
        <div class="whitespace-nowrap overflow-x-auto my-5">
            @foreach (var ticket in OverdueTickets)
            {
                <a href="@ticket.TicketUrl">
                    <UserTicket Ticket="@ticket"/>
                </a>
            }
        </div>
    </div>
    <div>
        <h2 class="text-2xl">Next</h2>
        <div class="whitespace-nowrap overflow-x-auto my-5">
            @foreach (var ticket in TodoTickets)
            {
                <a href="@ticket.TicketUrl">
                    <UserTicket Ticket="@ticket"/>
                </a>
            }
        </div>
    </div>
</div>

@code {

    private List<TicketDto> TodayTickets { get; } = new List<TicketDto>();

    private List<TicketDto> OverdueTickets { get; } = new List<TicketDto>();

    private List<TicketDto> TodoTickets { get; } = new List<TicketDto>();


    protected override async Task OnInitializedAsync() {
        List<TicketDto>? tickets = await _ticketService.List();

        foreach (var ticket in tickets)
        {
            if (ticket.Status == Status.Completed) continue;

            Int32 result = DateTime.Compare(ticket.DueDate, DateTime.Today);

            switch (result)
            {
                case < 0:
                    OverdueTickets.Add(ticket);
                    break;
                case 0:
                    TodayTickets.Add(ticket);
                    break;
                default:
                    TodoTickets.Add(ticket);
                    break;
            }
        }
    }

}