@page "/{Company}/project/{project}/ticket/{ticket}/manage"

<div class="flex flex-col lg:w-2/4 m-auto">
    <div class="flex flex-grow flex-col bg-gray-100 p-5 mt-20">
        <h1 class="text-2xl text-center">Update @_ticket.Name ticket</h1>
        <EditForm Model="@_ticket" OnValidSubmit="@HandleValidSubmit">
            <div class="mb-2">
                <label for="name" class="text-grey-darker inline-block mb-2">Name</label>
                <input @bind="_ticket.Name" type="text" id="name" name="name" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ticket Name" required/>
            </div>
            <div class="mb-2">
                <label for="description" class="text-grey-darker inline-block mb-2">Description</label>
                <textarea @bind="_ticket.Description" id="description" name="description" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Ticket description" required></textarea>
            </div>
            <div class="mb-2">
                <label for="priority" class="text-grey-darker inline-block mb-2">Priority</label>
                <InputSelect @bind-Value="_ticket.Priority" id="priority" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white" name="priority" required>
                    <option value="HIGH">
                        High
                    </option>
                    <option value="MEDIUM">
                        Medium
                    </option>
                    <option value="LOW">
                        Low
                    </option>
                </InputSelect>
            </div>
            <div class="mb-2">
                <label for="assignee" class="text-grey-darker inline-block mb-2">Assignee</label>
                <InputSelect @bind-Value="_ticket.Assignee" id="assignee" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-white" name="assignee" required>
                    @foreach (var user in _users)
                    {
                        <option value="@user.Name">@user.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="flex flex-row justify-between mb-2">
                <div class="w-full mr-3">
                    <label for="due-date" class="text-grey-darker inline-block mb-2">Due Date</label>
                    <input @bind="_ticket.DueDate" type="text" id="due-date" name="due-date" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full m-0 p-2.5" placeholder="31/10/2021 13:45" required/>
                </div>
                <div class="w-full ml-3">
                    <label for="eta" class="text-grey-darker inline-block mb-2">Estimated time</label>
                    <input @bind="_ticket.EstimatedTime" type="text" id="eta" name="eta" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full m-0 p-2.5" placeholder="15 hours" required/>
                </div>
            </div>
            <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full">Update Ticket</button>
        </EditForm>
    </div>
    <button @onclick="DeleteTicket" class="self-end text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-5 w-48">Ticket Company</button>
</div>

@code {

    [Parameter]
    public string Company { get; set; }

    [Parameter]
    public string Project { get; set; }

    [Parameter]
    public string Ticket { get; set; }

    private readonly Ticket _ticket = new();

    private void HandleValidSubmit()
    {
        Console.WriteLine($"Ticket Created: {_ticket.Name}, {_ticket.Description}, {_ticket.Priority}, {_ticket.Assignee}, {_ticket.DueDate}, {_ticket.EstimatedTime}");
    }

    private User[] _users = new[]
    {
        new User {Name = "John Doe"},
        new User {Name = "Jane Doe"},
        new User {Name = "John Smith"},
    };

    private void DeleteTicket()
    {
        Console.WriteLine($"Ticket Deleted: {_ticket.Name}, {_ticket.Description}, {_ticket.Priority}, {_ticket.Assignee}, {_ticket.DueDate}, {_ticket.EstimatedTime}");
    }
}