<div class="inline-block whitespace-normal w-96 p-4 border-2 border-black m-2 @(HideColour ? "bg-gray-50" : _statusColorMap[ticket.Status] )">
    <span class="float-right">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="@_priorityColorMap[@ticket.Priority]" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9"/>
        </svg>
    </span>
    <h2 class="font-bold">@ticket.Name</h2>
    <p style="min-height: 72px;">@ticket.Description</p>
    <div class="flex mt-3">
        <div class="flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
            @ticket.DueDate.ToShortDateString()
        </div>
        <div class="flex ml-2">

            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            @ticket.EstimatedTime.Hours Hours
        </div>
        <div class="flex ml-auto">
            <img src="https://avatars.dicebear.com/api/bottts/@(ticket.Assignee.UserName).svg" alt="profile-pic" height="24" width="24"/>
            @ticket.Assignee.Name
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TicketDto ticket { get; set; } = null!;

    [Parameter]
    public bool HideColour { get; set; } = false;

    private Dictionary<Status, string> _statusColorMap = new()
    {
        {Status.ToDo, "bg-gray-400"},
        {Status.InProgress, "bg-yellow-100"},
        {Status.Completed, "bg-green-200"},
        //{"none", "bg-gray-50"},
    };

    private Dictionary<Priority, string> _priorityColorMap = new()
    {
        {Priority.Low, "#f50000"},
        {Priority.Medium, "#ffcc00"},
        {Priority.High, "#d8d8d8"},
    };

    protected override void OnInitialized()
    {
        if (ticket.Description.Length > 130)
            ticket.Description = ticket.Description.Truncate(130);
        if (ticket.Name.Length > 30)
            ticket.Name = ticket.Name.Truncate(30);
    }

}