@page "/{Company}/manage"

<div class="flex flex-col lg:w-2/4 m-auto mb-5">
    <div class="flex flex-grow flex-col bg-gray-100 p-5 w-full">
        <h1 class="text-2xl text-center">Update @_company.Name</h1>
        <EditForm Model="@_company" OnValidSubmit="@HandleValidSubmit">
            <div class="mb-6">
                <label for="name" class="text-grey-darker inline-block mb-2">Name</label>
                <input @bind="_company.Name" type="text" id="name" class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="My Company" required={true}/>
            </div>
            <label for="company-uri" class="text-grey-darker inline-block mb-2">Company URI</label>
            <div class="flex flex-wrap items-stretch w-full mb-4 relative">
                <div class="flex -mr-px">
                    <span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light px-3 whitespace-no-wrap text-grey-dark text-sm">https://workflow.isala.me/</span>
                </div>
                <input @bind="_company.Uri" id="company-uri" type="text" class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-grey-light rounded rounded-l-none px-3 relative" pattern="[a-z0-9-]+" placeholder="my-company"/>
            </div>
            <button type="submit" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full">Submit</button>
        </EditForm>
    </div>
    <div class="flex flex-grow flex-col bg-gray-100 p-5 w-full m-auto mt-10">
        <h1 class="text-2xl">Manage Users</h1>
        <EditForm Model="@_inviteUser" OnValidSubmit="@SentInviteToUser" class="flex ml-auto -mt-8 mr-2 mb-3">
            <input @bind="_inviteUser.Email" type="email" class="border-grey-light rounded rounded-lg px-3 w-48 mr-3" placeholder="user@example.com" required/>
            <button class="bg-blue-300 hover:bg-blue-400 font-semibold py-0 px-4 rounded inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 m-0" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
                </svg>
                <span>Invite</span>
            </button>
        </EditForm>
        <User Name="John Doe" Role="@UserRole.ADMIN"/>
        <User Name="Jane Doe" Role="@UserRole.USER"/>
        <User Name="John Smith" Role="@UserRole.ADMIN"/>
        <User Name="Jane Smith" Role="@UserRole.USER"/>
    </div>
    <button @onclick="DeleteCompany" class="self-end text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-5 w-48">Delete Company</button>
</div>

@code {

    [Parameter]
    public string Company { get; set; }

    private readonly Company _company = new();

    private void HandleValidSubmit()
    {
        Console.WriteLine($"Company Update: {_company.Name}, {_company.Uri}");
    }

    private readonly InviteUser _inviteUser = new();

    private void SentInviteToUser()
    {
        Console.WriteLine($"Invited User: {_inviteUser.Email}");
    }

    private void DeleteCompany()
    {
        Console.WriteLine($"Company Delete: {_company.Name}, {_company.Uri}");
    }

}