@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStore
@inject ProtectedSessionStorage ProtectedSessionStore

<nav class="bg-white dark:bg-gray-800 shadow ">
    <div class="max-w-7xl mx-auto px-8">
        <div class="flex items-center justify-between h-16">
            <div class=" flex items-center">
                <a class="flex-shrink-0" href="/">
                    <img class="h-8 w-8" src="/icons/rocket.svg" alt="Workflow" />
                </a>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <NavOptions CurrentCompany="@CurrentCompany" />
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="ml-4 flex items-center md:ml-6">
                    <div class="hidden md:block">
                        <CompanySelect CurrentCompany="@CurrentCompany" />
                    </div>

                    <div class="ml-3 relative">
                        <div class="relative inline-block text-left">
                            <div>
                                <button @onclick="ToggleProfileOptions" type="button" class="flex items-center justify-center w-full rounded-md  px-4 py-2 text-sm font-medium text-gray-700 dark:text-gray-50 hover:bg-gray-50 dark:hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500" id="options-menu">
                                    <img src="https://avatars.dicebear.com/api/bottts/isala.svg" alt="profile-pic" height="40" width="40" />
                                </button>
                            </div>
                            @if (ProfileOptions)
                            {
                                <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5">
                                    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                        <a href="/user/settings" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
                                            <span class="flex flex-col">
                                                <span>
                                                    Account Settings
                                                </span>
                                            </span>
                                        </a>
                                        <a href="/@CurrentCompany/edit" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
                                            <span class="flex flex-col">
                                                <span>
                                                    Company Settings
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#" class="block block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600" role="menuitem">
                                            <span class="flex flex-col">
                                                <span>
                                                    Logout
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <button @onclick="ToggleMobileNav" class="text-gray-700 dark:text-white hover:text-gray-900 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
                    <svg width="20" height="20" fill="currentColor" class="h-8 w-8" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="md:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 @(ShowMobileNavLinks ? "block" : "hidden")">
            <NavOptions CurrentCompany="@CurrentCompany" />
            <CompanySelect CurrentCompany="@CurrentCompany" />
        </div>
    </div>
</nav>

@code {
    public static Navigation NavCtrl;

    private bool ProfileOptions = false;
    private bool ShowMobileNavLinks = false;

    private string CurrentCompany;
    private int currentCount;

    private void ToggleProfileOptions()
    {
        ProfileOptions = !ProfileOptions;
    }

    private void ToggleMobileNav()
    {
        ShowMobileNavLinks = !ShowMobileNavLinks;
    }

    protected override void OnInitialized()
    {
        NavCtrl = new Navigation(NavigationManager, ProtectedLocalStore);
        CurrentCompany = NavCtrl.GetCurrentCompany();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CurrentCompany = await NavCtrl.RestoreLastCompany();
            StateHasChanged();
        }
    }
}
